@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PollerOne;
  src: url(/public/assets/fonts/PollerOneRegular.ttf);
}
@font-face {
  font-family: RalewayRomanBold;
  src: url(/public/assets/fonts/RalewayRomanBold.ttf);
}
@font-face {
  font-family: RalewaySemiBold;
  src: url(/public/assets/fonts/RalewaySemiBold.ttf);
}
@font-face {
  font-family: RubikBold;
  src: url(/public/assets/fonts/RubikBold.ttf);
}
@font-face {
  font-family: RubikMedium;
  src: url(/public/assets/fonts/RubikMedium.ttf);
}
@font-face {
  font-family: RubikRegular;
  src: url(/public/assets/fonts/RubikRegular.ttf);
}
@font-face {
  font-family: RubikSemiBold;
  src: url(/public/assets/fonts/RubikSemiBold.ttf);
}
